
h1{
    font-family:"Brush Script MT";
    font-size:65px;
}

p1{
    font-family:"Baskerville Old Face";
    font-size: 60%;

}
.jumbotron{
    background-color: white;

}

.nav-link{
    font-family: "Engravers MT";
    color: black;
    font-size: 120%;
}
.navbar-brand{
    color: black;
    font-family: "Engravers MT";
    font-size: 140%;
}
.navbar-expand-sm{
    border-style: solid;
    border-width: 1px;
    border-right-style:hidden;
    border-left-style: hidden;
    border-color: black;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    color: lightpink;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}
.carousel-item.active,.carousel-item-next,
.carousel-item-prev {
    display: block;
}

#mostPopular{
    font-family: "Engravers MT";
    font-size: 20px;
    text-align: center;
    color: darkgray;
    background-color:#ffe1e3;
    background-size:auto;
    padding: 5px;
}
.col-sm-4{
    border-style: solid;
    border-width: 1px;
    border-bottom-style:hidden;
    border-left-style: hidden;
    border-color: lightgrey;
}
#centered2{
    display: flex;
    justify-content: center;

}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#h6productivity1{
    text-align: right;
    font-family: "arial-bold";
    color: #ffccc2;
}
#productivity1{
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}
#pr1{
    margin-right: 10px;
}
#h6productivity1{
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}


#morningWorkout{
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}
#morW{
    margin-right: 10px;
}
#h6morningWorkout{
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}


#chickenchickpeasalad{
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}
#chickSal{
    margin-right: 10px;
}
#h6chickenchickpeasalad{
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}


#facemasks{
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}
#faceM{
    margin-right: 10px;
}
#h6facemasks{
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}


#plasticChallenge{
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}
#plastCh{
    margin-right: 10px;
}
#h6plasticChallenge{
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}

#exercise{
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}
#exerc{
    margin-right: 10px;
}
#h6exercise{
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}
#h2WhatsNew{
    font-family: "Baskerville Old Face";
    border-left: lightgrey;
    border-top: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-bottom-style:hidden;
    border-left-style: hidden;
    border-color: lightgrey;
}
#h6eatwell{
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}
#h5vegan{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
}
#pProtein{
    font-family: Lora;
    font-size: 14px;
}

#protein_uvod{
margin-left: 5px;
}

@import url(//db.onlinewebfonts.com/c/ed7de7f8213e4a5e40e57f9bbbbd8929?family=Neutraface+2+Display+Medium);
@import url(//db.onlinewebfonts.com/c/5c803199923a6ed48112bebbb486b3e0?family=Lora);
@font-face {font-family: "Neutraface 2 Display Medium"; src: url("//db.onlinewebfonts.com/t/ed7de7f8213e4a5e40e57f9bbbbd8929.eot")  }
@font-face {font-family: "Lora"; src: url("//db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot")}

#h6tips{
     text-align: left;
     font-family: "arial-bold";
     color: #ffccc2;
 }
#h5posture{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
}

#pPosture{
    font-family: Lora;
    font-size: 14px;
}
#h6tips1{
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}
#h5unproductive{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
}
#pUnproductive{
    font-family: Lora;
    font-size: 14px;
}

#h6finance{
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}
#h5payRise{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
}
#pPayRise{
    font-family: Lora;
    font-size: 14px;
}
#h6greenLiving{
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}
#h5toxins{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
}
#pToxins{
    font-family: Lora;
    font-size: 14px;
} /*toto nefunguje*/
.dropdown-menu{
    position:center;
}
/*EatWellRecipes***************************************************************************************************************************/
#EWCategories{
    padding-top: 15px;
    font-family: "Baskerville Old Face";
}

 /*farba linku*/
.link-my-color {
    color: black !important;
}
/*EatWell - Dinners , Dinners*******************************************************************************************************/
#EWDcol-sm-6{ /*na vycentrovanie elemenetu*/
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#EWDh2Dinners{
    position: center;
    font-family: "Segoe Script", serif;
    color: black;
    background-color:#ffe1e3;
    text-align: center;
    font-size: 45px;

}
#EWDnavbar-expand-sm{
    border-style: solid;
    border-width: 1px;
    border-right-style:hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-color: black;
}

/*
#h5lemonpepperchicken{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}
#pLemonpepperchicken{
    font-family: Lora;
    font-family:"Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}
#lemonpepperchicken{
    margin-right: 20px;
}
*/
/*VZOR NAZOV A TEXT*/
#container7{
    margin-top: 30px;
}
#h5lemonpepperchicken{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}
#pLemonpepperchicken{
    font-family: Lora;
    font-family:"Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;

}
#lemonpepperchicken{
    margin-right: 20px;

}


#h5spicymexican{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}
#pspicymexican{
    font-family: Lora;
    font-family:"Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}
#spicymexican{
    margin-right: 20px;
}



#h5pumpkinsoup{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}
#ppumpkinsoup{
    font-family: Lora;
    font-family:"Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}
#pumpkinsoup{
    margin-right: 20px;

}


#h5leftoverturkey{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}
#pleftoverturkey{
    font-family: Lora;
    font-family:"Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}
#leftoverturkey{
    margin-right: 20px;
}


#h5basacashew{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}
#pbasacashew{
    font-family: Lora;
    font-family:"Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}
#basacashew{
    margin-right: 20px;
}

.link-my-color {
    color: black !important;
}

/*EatWell - Dinners - LemonPepperChicken*******************************************************************************************************/

#h2EWDlemonpepperchickenR{
    font-family: "Neutraface 2 Display Medium";
    font-size: 45px;
    text-align: center;
    padding-top: 25px;
    font-weight: bolder;
}
#EWDlemonpepperchickenR{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pEWDlemonpepperchickenR{
    font-family: Lora;
    padding-bottom: 5px;
}
#p2EWDlemonpepperchickenR{
    border-style:solid;
    border-width: 2px;
    border-right-style:hidden;
    border-left-style: hidden;
    border-color: black;
    padding-top:  5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: "Baskerville Old Face";
    font-size:20px;
}
#centered{
    display: flex;
    justify-content: center;

}
