@import url(//db.onlinewebfonts.com/c/ed7de7f8213e4a5e40e57f9bbbbd8929?family=Neutraface+2+Display+Medium);
@import url(//db.onlinewebfonts.com/c/5c803199923a6ed48112bebbb486b3e0?family=Lora);
/*Home***************************************************************************************************************************/
h1 {
    font-family: "Brush Script MT";
    font-size: 65px;
}

p1 {
    font-family: "Baskerville Old Face";
    font-size: 60%;

}

.jumbotron {
    background-color: white;

}

.nav-link {
    font-family: "Engravers MT";
    color: black;
    font-size: 120%;
}


.navbar-brand {
    color: black;
    font-family: "Engravers MT";
    font-size: 140%;
}

.navbar-expand-lg, .navbar, .navbar-light {
    border-style: solid;
    border-width: 1px;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: black;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    color: lightpink;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-item.active, .carousel-item-next,
.carousel-item-prev {
    display: block;
}

#mostPopular {
    font-family: "Engravers MT";
    font-size: 20px;
    text-align: center;
    color: darkgray;
    background-color: #ffe1e3;
    background-size: auto;
    padding: 5px;
}

.col-sm-4 {
    border-style: solid;
    border-width: 1px;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-color: lightgrey;
}

#centered2 {
    display: flex;
    justify-content: center;

}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#h6productivity1 {
    text-align: right;
    font-family: "arial-bold";
    color: #ffccc2;
}

#productivity1 {
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}

#pr1 {
    margin-right: 10px;
}

#h6productivity1 {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}


#morningWorkout {
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}

#morW {
    margin-right: 10px;
}

#h6morningWorkout {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}


#chickenchickpeasalad {
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}

#chickSal {
    margin-right: 10px;
}

#h6chickenchickpeasalad {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}


#facemasks {
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}

#faceM {
    margin-right: 10px;
}

#h6facemasks {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}


#plasticChallenge {
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}

#plastCh {
    margin-right: 10px;
}

#h6plasticChallenge {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}

#exercise {
    text-align: center;
    color: grey;
    font-family: "Copperplate Gothic Light";
    font-size: 20px;
    text-align: left;
}

#exerc {
    margin-right: 10px;
}

#h6exercise {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}

#h2WhatsNew {
    font-family: "Baskerville Old Face";
    border-left: lightgrey;
    border-top: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-bottom-style: hidden;
    border-left-style: hidden;
    display: flex;
    justify-content: center;
}

#h6eatwell {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}

#h5vegan {
    font-family: "Neutraface 2 Display Medium";
    font-size: 200%;
}

#pProtein {
    font-family: Lora;
    font-size: 14px;
}

#protein_uvod {
    margin-left: 5px;
}


@font-face {
    font-family: "Neutraface 2 Display Medium";
    src: url("//db.onlinewebfonts.com/t/ed7de7f8213e4a5e40e57f9bbbbd8929.eot")
}

@font-face {
    font-family: "Lora";
    src: url("//db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot")
}

#h6tips {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}

#h5posture {
    font-family: "Neutraface 2 Display Medium";
    font-size: 200%;
}

#pPosture {
    font-family: Lora;
    font-size: 14px;
}

#h6tips1 {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}

#h5unproductive {
    font-family: "Neutraface 2 Display Medium";
    font-size: 200%;
}

#pUnproductive {
    font-family: Lora;
    font-size: 14px;
}

#h6finance {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}

#h5payRise {
    font-family: "Neutraface 2 Display Medium";
    font-size: 200%;
}

#pPayRise {
    font-family: Lora;
    font-size: 14px;
}

#h6greenLiving {
    text-align: left;
    font-family: "arial-bold";
    color: #ffccc2;
}

#h5toxins {
    font-family: "Neutraface 2 Display Medium";
    font-size: 200%;
}

#pToxins {
    font-family: Lora;
    font-size: 14px;
}

/*toto nefunguje*/


#form1 {
    font-family: "Lora";
    font-size: 25px;
    color: black;
}

#submit {
    border: lightgrey solid;
}

#email {
    border-color: lightgrey;
}

.page-link {
    color: black;
}

/*EatWellRecipes***************************************************************************************************************************/
#EWCategories {
    padding-top: 15px;
    font-family: "Baskerville Old Face";
}

/*farba linku*/
.link-my-color {
    color: black !important;
    font-family: "Neutraface 2 Display Medium";
    font-size: 100%;
}

/*EatWell - Dinners , Dinners*******************************************************************************************************/
#EWDcol-sm-6 { /*na vycentrovanie elemenetu*/
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#EWDh2Dinners {

    font-family: "Segoe Script", serif;
    color: black;
    background-color: #ffe1e3;
    text-align: center;
    font-size: 45px;

}

#EWDnavbar-expand-sm {
    border-style: solid;
    border-width: 1px;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-color: black;
}

/*
#h5lemonpepperchicken{
    font-family:"Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}
#pLemonpepperchicken{
    font-family: Lora;
    font-family:"Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}
#lemonpepperchicken{
    margin-right: 20px;
}
*/
/*VZOR NAZOV A TEXT*/
#container7 {
    margin-top: 30px;
}

#h5lemonpepperchicken {
    font-family: "Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}

#pLemonpepperchicken {
    font-family: "Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}

#lemonpepperchicken {
    margin-right: 20px;

}


#h5spicymexican {
    font-family: "Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}

#pspicymexican {

    font-family: "Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}

#spicymexican {
    margin-right: 20px;
}


#h5pumpkinsoup {
    font-family: "Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}

#ppumpkinsoup {

    font-family: "Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}

#pumpkinsoup {
    margin-right: 20px;

}


#h5leftoverturkey {
    font-family: "Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}

#pleftoverturkey {

    font-family: "Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}

#leftoverturkey {
    margin-right: 20px;
}


#h5basacashew {
    font-family: "Neutraface 2 Display Medium";
    font-size: 200%;
    text-align: left;
    padding-top: 30px;
}

#pbasacashew {

    font-family: "Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}

#basacashew {
    margin-right: 20px;
}

.link-my-color {
    color: black !important;
}

/*EatWell - Dinners - LemonPepperChicken*******************************************************************************************************/

#h2EWDlemonpepperchickenR {
    font-family: "Neutraface 2 Display Medium";
    font-size: 45px;
    text-align: center;
    padding-top: 25px;
    font-weight: bolder;
}

#EWDlemonpepperchickenR {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pEWDlemonpepperchickenR {
    font-family: Lora;
    padding-bottom: 5px;
}

#p2EWDlemonpepperchickenR {
    border-style: solid;
    border-width: 2px;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: "Baskerville Old Face";
    font-size: 20px;
}

#centered {
    display: flex;
    justify-content: center;
}

/*Girl***************************************************************************************************************************/
#girl {
    float: right;
    display: flex;

}

#pAboutMe {
    font-family: Lora;
    font-family: "Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;

}

#girl {
    margin-left: 40px;

}

#AboutMe { /*na vycentrovanie elemenetu*/
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.col-sm-16 { /*na vycentrovanie elemenetu*/
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#h2AboutMe {
    font-family: "Neutraface 2 Display Medium";
    font-size: 45px;
    text-align: center;
    padding-top: 25px;
    font-weight: bolder;
}

#pAboutMe {
    font-family: Lora;
    font-family: "Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}

.mb-4 {
    margin-top: 30px;
}

#ContactMe {
    font-family: "Neutraface 2 Display Medium";
    font-size: 45px;
    text-align: center;
    padding-top: 25px;
    font-weight: bolder;

}

#Suggestion {
    font-family: Lora;
    font-family: "Neutraface 2 Display Medium";
    font-size: 140%;
    text-align: left;
}

.bi, .bi-heart {
    justify-content: right;
}

/*Signup**********************************************************************************************************************/


* {
    box-sizing: border-box
}

/* Add padding to containers */

#containerRegister {
    padding: 50px;
    background-image: url("https://media.istockphoto.com/vectors/pink-marble-background-light-elegant-template-for-wedding-card-baby-vector-id1200907979?k=6&m=1200907979&s=170667a&w=0&h=MDEX31iDfrBwZO-JIqVSYJYmpVAm3ZTBnNurnhYI9oQ=");

}

#h1Register {
    text-align: center;
    font-family: "Yu Gothic UI Light";
    font-size: 45px;
}

#pRegister {
    text-align: center;

    font-size: 15px;
}


/* Full-width input fields */

input[type=text], input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: flex;
    border: none;
    background: #f7f7f7;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */

hr {
    border: 1px solid #f7f7f7;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */

.registerbtn {
    background-color: #f7f7f7;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */

a {
    color: grey;
}

/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f7f7f7;
    text-align: center;

    border: none;
    cursor: pointer;
    height: 60px;
    opacity: 0.9;
}

.registerbtn, .button5 {
    border-radius: 4px;
}

.signin {
    border-radius: 4px;
    width: 300px;
    padding: 16px 20px;
}

/*LogIN**********************************************************************************************************/

#containerLogin1, #containerLogin2, #containerLogin3, #containerLogin4, #containerLogin5 {
    width: 5px;
    height: 38px;
    display: flex;
    justify-content: right;
    padding-right: 5px;
}

.btn, .btn-info, .btn-block, .btn-round {
    color: white;
    background-color: #ffe1e3;
    border: none;
}

.btn:hover, .btn-info:hover, .btn-block :hover, .btn-round:hover {
    background-color: #ffccc2;
}

.btn:active, .btn-info:active, .btn-block :active, .btn-round:active {
    background-color: #ffccc2;
}

/*SIGNUP AND LOGIN **********************************************************************************************************/
#errors {
    font-family: "Yu Gothic UI Light";
    font-size: 25px;
    text-align: center;
    color: grey;
    text-decoration-line: underline;

}

#errors2 {
    font-family: "Yu Gothic UI Light";
    font-size: 25px;
    text-align: center;
    color: grey;
    text-decoration-line: underline;

}

/*COMMENT SYSTEM**********************************************************************************************************/
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #FFFFFF;
    margin: 0;
}

.navtop {
    background-color: #3f69a8;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ecf0f6;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c5d2e5;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #ecf0f6;
}

.content {
    display: flex;
    justify-content: left;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}


/**/
.comments .comment_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    margin-bottom: 10px;
    align-items: center;
}

.comments .comment_header .total {
    color: #777777;
    font-size: 20px;
}

.comments .comment_header .write_comment_btn {
    margin: 0;
    background-color: #ffe1e3;
}

.comments .write_comment_btn, .comments .write_comment button {
    display: inline-block;
    background-color: #565656;
    color: #fff;
    text-decoration: none;
    margin: 10px 0 0 0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
}

.comments .write_comment_btn:hover, .comments .write_comment button:hover {
    background-color: #ffccc2;
}

.comments .write_comment {
    display: none;
    padding: 20px 0 10px 0;
}

.comments .write_comment textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 150px;
    margin-top: 10px;
}

.comments .write_comment input {
    display: block;
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.comments .write_comment button {
    cursor: pointer;
}

.comments .comment {
    padding-top: 10px;
}

.comments .comment .name {
    font-family: "Arial Black";
    display: inline;
    padding: 0 5px 3px 0;
    margin: 0;
    font-size: 16px;
    color: #555555;

}

.write_comment col-lg-8 col-md-10 mx-auto {
    background-color: #ffe1e3;
}

.comments .comment .date {
    color: #888888;
    font-size: 14px;
}

.comments .comment .content {
    margin-left: 0px;
    /*  text-align: left;*/
    display: flex;
    justify-content: left;

}

.comments .comment .reply_comment_btn {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
    border: solid grey 1px;
    background-color: #ffe1e3;
    border-radius: 4px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.comments .comment .replies {
    padding-left: 30px;

}

.write_comment_btn {
    font-family: "Lora";
}

#submitBtn {
    background-color: #ffe1e3;
}

#nameBtn {
    background-color: #ffe1e3;
}

/*COMMENT DANI****************************************************************************************************************/
textarea {
    width: 860px;
    height: 140px;
    padding: 20px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    /*nacentrovat a responzivne spravit comment*/
}

#submitBtn1 {
    background-color: #ffe1e3;
    border-radius: 4px;
    border: none;
    color: white;
    font-family: "Segoe UI";
    font-weight: bolder;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.comment-box {
    width: 900px;
    padding: 17px;
    margin-bottom: 4px;
    background-color: #ffe1e3;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.comment-box p {
    font-family: "Lora";
    font-size: 16px;

}

.edit-form {
    position: absolute;
    top: 5px;
    right: 3px;
}

.edit-form button {
    width: 50px;
    height: 30px;
    border-radius: 4px;
    font-family: "Segoe UI";
    background-color: white;
    opacity: 0.7;

}

.edit-form button:hover {
    opacity: 1;
}

.delete-form {
    position: absolute;
    top: 5px;
    right: 55px;
}

.delete-form button {
    width: 60px;
    height: 30px;
    border-radius: 4px;
    font-family: "Segoe UI";
    background-color: white;
    opacity: 0.7;

}

.delete-form button:hover {
    opacity: 1;
}

#information {
    font-family: "Segoe UI";
    font-style: italic;
    text-align: center;
}


